
@{
    Layout = null;
}
<link href="~/Homestyleicons.css" rel="stylesheet" />
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .container {
            position: relative;
            width: 100%;
            max-width: 400px;
        }

            .container img {
                width: 100%;
                height: auto;
            }

            .container .btn1 {
                position: absolute;
                top: 70%;
                left: 10%;
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                background-color: #555;
                color: white;
                font-size: 12px;
                padding: 2px 4px;
                border: none;
                cursor: pointer;
                border-radius: 5px;
                text-align: center;
            }

            .container .btn2 {
                position: absolute;
                top: 70%;
                left: 30%;
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                background-color: #555;
                color: white;
                font-size: 12px;
                padding: 2px 4px;
                border: none;
                cursor: pointer;
                border-radius: 5px;
                text-align: center;
            }

            .container .btn3 {
                position: absolute;
                top: 70%;
                left: 50%;
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                background-color: #555;
                color: white;
                font-size: 12px;
                padding: 2px 4px;
                border: none;
                cursor: pointer;
                border-radius: 5px;
                text-align: center;
            }

            .container .btn4 {
                position: absolute;
                top: 70%;
                left: 70%;
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                background-color: #555;
                color: white;
                font-size: 12px;
                padding: 2px 4px;
                border: none;
                cursor: pointer;
                border-radius: 5px;
                text-align: center;
            }

            .container .btn5 {
                position: absolute;
                top: 70%;
                left: 90%;
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                background-color: #555;
                color: white;
                font-size: 12px;
                padding: 2px 4px;
                border: none;
                cursor: pointer;
                border-radius: 5px;
                text-align: center;
            }

            .container .btn1:hover {
                background-color: black;
            }

            .container .btn2:hover {
                background-color: black;
            }

            .container .btn3:hover {
                background-color: black;
            }

            .container .btn4:hover {
                background-color: black;
            }

            .container .btn5:hover {
                background-color: black;
            }
    </style>
</head>
<body>
    <div class="container">
        <button class="btn1"> Admin</button>
        <button class="btn2"> Physician</button>
        <button class="btn3"> Patient</button>
        <button class="btn4"> Salesman</button>
        <button class="btn5"> Supplier</button>
        <button class="btn5"> Guest</button>
    </div>
</body>
</html>
