
@*@{
    ViewBag.Title = "Homepage";
}*@
    <link href="~/Homestyleicons.css" rel="stylesheet" />
<h2>Homepage</h2>
/*
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class="container">
        @*<img src="img_snow.jpg" alt="Snow" style="width:100%">*@
        <button class="btn1"> Admin</button>
        <button class="btn2"> Physician</button>
        <button class="btn3"> Patient</button>
        <button class="btn4"> Salesman</button>
        <button class="btn5"> Supplier</button>
        <button class="btn5"> Guest</button>


    </div>

</body>
</html>




